<form action="/search" method="get">
  Search for a user:
  <label for="searchString">
    Username containing:
    <input type="text" name="searchString" id="searchString">
  </label>
  <button type="submit">Submit</button>
</form>